.quadrado{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    /* ease-out devagar 
    ease-in-out começa rapido e termina devagar*/
    /* forwards fica na posição final
    infite fica rodando infinatamnete */
}



.violeta{
    background-color: violet;
    animation:scale-down-center 5s infinite;
}

.vermelho{
    background-color: rgb(202, 102, 102);
    
}

.azul{
    background-color: aqua;
    animation: animacao2 5s infinite;
}
.retangulo{
    width: 200px;
    height: 50px;
    background-color: cornflowerblue;
    animation: animacao1 5s infinite;
}
.triangulo{
    width: 200px;
    height: 100px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(55, 218, 169);
    animation: animacao3 5s infinite;
}