body {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}


.caixa {
    width: 200px; /*Largura*/
    height: 200px; /*Altura*/
    background-color: rgba(226, 217, 43, 0.518); /*Cor do Fundo do Quadrado*/
    display: flex; /*Texto flexivel*/


    padding: 20px; /*Espaço interno*/
    border: 100px solid #333; /*Borda*/
    margin: 850px; /*Espaço Externo*/
    justify-content: center; /*Centralizar o conteudo horizontalmente*/
    align-items: center; /*Conteudo centralizado verticalmente*/    
   
   
   }

.caixa2 {
    box-sizing: border-box; /*Todas as dimensões são calculadas até 200px*/
    width: 200px; /*Largura*/
    height: 200px; /*Altura*/
    padding: 20px; /*Espaço interno*/
    border: 10px solid #333; /*Borda*/
    margin: 20px; /*Espaço Externo*/
    background-color: rgba(137, 43, 226, 0.518); /*Cor do Fundo do Quadrado*/
    display: flex; /*Texto flexivel*/
    justify-content: center; /*Centralizar o conteudo horizontalmente*/
    align-items: center; /*Conteudo centralizado verticalmente*/
    box-shadow: 10px 10px 10px rgba(106, 106, 106, 0.429);
         /*Horizontal  Vertical  Blur  CorDaSombra*/
    overflow: hidden; /*visible (Padrão) hidden(Conteudo que ultrapassar o tamanho do quadrado sera cortado) scroll(Barra de rolagem)
    auto(barras de rolagem só são adicionadas quando o conteúdo exceder as dimensões do elemento)*/
}