html::before{
  background-image: url(img/EYtf32bXQAYQEE7.jfif);
  background-attachment: fixed;
  content: "";
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.meu-elemento-personalizado {
  cursor: url('img/png.cur'), auto;
}

ul li {
  list-style: none;
}

.container {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

img {
  filter: drop-shadow(4px 4px 12px black);
}

.titulo {
  font-size: 40px;
  color: rgb(238, 255, 0);
  text-shadow: 
    -1px -1px 0 rgb(214, 104, 0), 
    1px -1px 0 rgb(250, 162, 104),  
    -1px 1px 0 rgb(235, 104, 53),  
    1px 1px 0 rgb(228, 164, 69);   
}

.pokemons {
  color: rgb(0, 0, 56);
}

.fly:hover {
  color: cornflowerblue;
  background-color: azure;
  font-size: 25px;
  transform: translateY(0px);
  animation: float 2s ease-in-out infinite;
}

.fire:hover {
  background-color: red;
  transform: scale(1.1);
  color: rgb(238, 235, 235);
  transition: 1s;
  animation: animate 0.1s linear infinite;
  font-size: 24px;
}

.blaze:hover {
  background-color: rgb(235, 140, 140);
  animation: animate 0.5s linear infinite;
  color: rgb(51, 6, 6);
  font-size: 20px;
}

.blaze:hover::before {
  content: "🔥";
  color: red;
}

.blaze:hover::after {
  content: "🔥";
  color: red;
}

.weight:hover {
  background-color: rgb(124, 189, 104);
  transform: scale(5.1);
  color: rgb(238, 235, 235);
  transition: 1s;
}



.heigth:hover {
  background-color: rgb(73, 49, 211);
  transform: scale(5.1);
  color: rgb(238, 235, 235);
  transition: 1s;
}


.water:hover {
  background-color: rgb(8, 17, 145);
  transform: scale(1);
  color: rgb(238, 235, 235);
  transform: translateY(0px);
  animation: float 8s ease-in-out infinite;
}

.water:hover::before {
  content: "💦";
}

.water:hover::after {
  content: "💦";
}

.torrent {
  transition: transform 5s, background-color 0.2s;
}

.torrent:hover {
  background-color: rgb(141, 124, 236);
  transform: scale(1.2);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(500px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}