/* listas after e before */

a:hover {
    color: black;
}

a::after {
    content: 'link';
    color: red;
    text-decoration: none;
}

.especial::before {
    content: '✉';
}

/* Linhas do texto */
p::first-line {
    font-weight: bold;
    text-transform: uppercase;
}

p::first-letter {
    font-size: 24px;
    color: purple;
}

/* PlaceHolder */
input::placeholder {
    color: rgb(241, 32, 32);
    /* Cor do texto de espaço reservado */
    font-style: italic;
    /* Estilo de fonte (por exemplo, itálico) */
}

/* texto selecionado */
::selection {
    background-color: #ffcc00; 
    color: rebeccapurple; 
  }

::cue {
    color: #FF0000; /* Define a cor das legendas para vermelho */
    font-size: 16px; /* Define o tamanho da fonte das legendas */
    font-weight: bold; /* Define o peso da fonte das legendas como negrito */
  }