/* listas after e before */

a{
    text-decoration: none;
}

a:hover {
    color: black;
}

a::after {
    content: '[link]';
    font-size: small;
    color: red;
}

.especial::before {
    content: ' 🎥';
}

/* Linhas do texto */
p::first-line {
    font-weight: bold;
    text-transform: uppercase;
}


p::first-letter {
    font-size: 24px;
    color: #ffcc00;
}

/* PlaceHolder */
input::placeholder {
    color: rgb(114, 0, 0);
    /* Cor do texto de espaço reservado */
    font-style: normal;
    /* Estilo de fonte (por exemplo, itálico) */
}

/* texto selecionado */
::selection {
    background-color: #ffcc00; 
    color: rebeccapurple; 
  }

/*mudda o icone da lista*/
li::marker {
    color: red;
  }
  