/* listas after e before */

a{
    text-decoration: none;
}

a:hover {
    color: black;
}

a::after {
    content: '[link]';
    font-size: small;
    color: red;
}

.especial::before {
    content: ' 🎥';
}

.arrow-list li::before {
    content: "➔ "; 
    color: #FF5733; 
    font-weight: bold; 
    margin-right: 5px; 
  }

/* Linhas do texto */
p::first-line {
    font-weight: bold;
    text-transform: uppercase;
}

p::first-letter {
    font-size: 24px;
    color: #ffcc00;
}

/* texto selecionado */
::selection {
    background-color: #ffcc00; 
    color: rebeccapurple; 
  }

