<!-- Voting Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votacao</title>
    <link rel="stylesheet" href="votar.css">
    <script src="index.js"></script>
</head>
<body>
       <img class="imagem" src="img/dc.webp" alt="fundo">
      
       <div class="caixa-votos">
        <p class="titulo">DC VS MARVEL</p>
        <button class="botao-votar" onclick="votar('dc');verificarVotos();">DC</button>
        <button class="botao-votar" onclick="votar('marvel');verificarVotos();">MARVEL</button>
        <button class="botao-votar" onclick="obterVotacao();abrirResultados();">RESULTS</button>
       </div> 
</body>
</html>